<% include header %>
    <script type="text/javascript">
      $(document).ready(function () {
                    // Populate table with patients from MySQL
                     $.ajax({
                       url: "/meds/table",
                       type: "POST",
                       contentType: "application/json",
                       processData: false,
                       complete: function (data) {
                        $('div#table').html(data.responseText);
                       }
      });
                      $.ajax({
                      url: "/meds/info",
                      type: "POST",
                      contentType: "application/json",
                      processData: false,
                      data: JSON.stringify(payload),
                      complete: function (data) {
                      $('#output').html(data.responseText);
                    }
                });
             });

    </script>
<% include menu %>
      <h3>Patient Medications</h3>
      <div id="table"></div>
<% include footer %>