</head>
  <body>
  <div class="header">
      <h1>Medical Ordering Machine</h1>
    </div>
    <div class="menu">
      <a href="../">Home</a><br />
      <a href="../add_patient">Add a Patient</a><br />
      <a href="../patient_info">Find Patient Information</a><br />
      <a href="../add_doctor">Add a Doctor</a><br />
      <a href="../doctor_info">Find Doctor Information</a><br />
      <a href="../add_ercontact">Add an Emergency Contact</a><br />
      <a href="../er_info">Emergency Contact Information</a><br />
      <a href="../medlist">Add Patient's Medication</a><br />
      <a href="../med_info">Patient's Medication</a><br />
      <a href="../about">About </a><br />
    </div>
    <div class="content">
